*{
    box-sizing:border-box;
  }

.main {
  background-color: #ebebeb;
  width: 100%;
  float: left;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: 60px;
}
.main h3{
  color: #6daffe;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  padding-top: 30px;
}
.main-info {
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 35px;
  margin-right: 40px;
}
.info h4{
  background-color: #fff;
  margin-bottom: 30px;
  padding: 20px;
  font-size: medium;
}
.eligiblity-info .objective-list .grant-info .timeframe-info h4 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-left: 60px;
  color:#6daffe;
}
 ul li{
  margin-bottom: 30px;
  padding: 20px
}
p a {
  color: #6daffe;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}
